<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChatOverlay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <ChatOverlay.Properties.Settings>
            <setting name="ChatType" serializeAs="String">
                <value>KapChat - Twitch</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>antilipsi</value>
            </setting>
            <setting name="CustomUrl" serializeAs="String">
                <value>www.google.com</value>
            </setting>
            <setting name="ChatFade" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ShowBots" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KapchatTheme" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ComboCss" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ComboJs" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="currentCss" serializeAs="String">
                <value />
            </setting>
            <setting name="currentJs" serializeAs="String">
                <value />
            </setting>
            <setting name="ContentBackground" serializeAs="String">
                <value>#000000</value>
            </setting>
        </ChatOverlay.Properties.Settings>
    </userSettings>
</configuration>